.background_box {
    position: relative;
    z-index: 1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.photo-frame {
    border: 10px solid #fff;
    padding: 10px;
    border: 5px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: block;
    max-width: 100%;
}

body {
    background-image: url('../images/julia-maior-P6rShCD6Sx4-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.item {
    padding: 10px; 
    text-align: center; 
    /*border: 1px solid #ddd;*/
}
  
.control_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control_button {
    position: relative;
    z-index: 2;
    top: 0px;
    display: flex;
    flex-direction: row;
}

.control_button > div {
    margin: 5px;
}

.emoji {
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    font-size:150%;
}

footer {
    position:fixed;
    bottom: 0%;
    z-index: 5;
    text-align: left;
}